.album-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px;
}

.album-card {
  width: 14rem;
  margin: 10px;
  border: none !important;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(255, 123, 0, 0.4) 0px 25px 70px;
}

.album-title {
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}

.album-price {
  color: rgba(255, 107, 2, 1);
  text-align: center;
  font-size: 18px;
  margin: 8px 0;
}

.album-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* دکمه مشخصات */
.hover-button {
  color: #000 !important;
  width: 70%;
  background-color: rgb(255, 166, 42);
  border: none;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.album-card:hover .hover-button {
  opacity: 1;
  cursor: pointer;
}

/* دکمه + دایره ای */
.add-circle {
  background-color: rgba(255, 107, 2, 1);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.3s ease;
}

.album-card:hover .add-circle {
  opacity: 1;
}

.add-circle:hover {
  transform: scale(1.2);
  background-color: rgba(255, 140, 0, 1);
}

/* ریسپانسیو */
@media (max-width: 768px) {
  .album-card {
    margin: 10px auto;
  }

  .album-actions {
    flex-direction: row;
    gap: 6px;
  }

  .hover-button {
    width: 65%;
    margin: auto;
  }
}
