/* لاگین باکس وسط صفحه */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  max-width: 95%;
  padding: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.9); /* سفید شفاف */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* عنوان */
.login-box h2 {
  margin-bottom: 28px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #000; /* مشکی */
}

/* گروه ورودی‌ها */
.login-box .user-box {
  position: relative;
  margin-bottom: 28px;
}

/* ورودی‌ها */
.login-box .user-box .input {
  width: 100%;
  padding: 14px 0 8px;
  font-size: 16px;
  color: #000; /* متن مشکی */
  border: none;
  border-bottom: 2px solid #555;
  background: transparent;
  outline: none;
}

.login-box .user-box .input:focus {
  border-bottom-color: #000;
}

/* لیبل‌ها */
.login-box .user-box .label {
  position: absolute;
  left: 0;
  top: 14px;
  font-size: 16px;
  color: #000; /* مشکی */
  pointer-events: none;
  transition: all .2s ease;
}

/* حرکت لیبل */
.login-box .user-box .input:focus ~ .label,
.login-box .user-box .input:not(:placeholder-shown) ~ .label {
  top: -18px;
  font-size: 14px;
  color: #000; /* مشکی */
}

/* دکمه */
.submit-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
 
}

.submit-btn:hover {
  background: #333;
}
