.my-top-item{
  padding: 5px;
}

.my-top-item i{
color: rgb(0, 0, 0);
margin-right: 10px;
}

.itemm{
  padding: 15px !important;
  font-size: 17px !important;
  font-weight: 800;
  
  
}

.itemm:hover{
  cursor: pointer;
  background-color: rgb(247, 191, 36);
}

.itemm a{
  list-style-type: none;
  text-decoration: none;
  color: black;
}

h1{
  font-family: 'lalezar';
}

p{
  color: rgb(111, 111, 111);
  font-weight: 800;
  margin-right: 10px;
}

/* کانتینر اصلی اسلایدر */
.carousel,
.carousel-item {
  width: 100%;
  height: 600px; /* ارتفاع بیشتر برای نمایش کامل تصویر */
  overflow: hidden;
}

/* تصاویر داخل اسلایدر */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* تصویر کل فضای کارت را بپوشاند */
  object-position: center; /* تصویر وسط بچینه */
  transition: none; /* هیچ زومی ایجاد نشود */
}

/* برای تبلت */
@media (max-width: 992px) {
  .carousel,
  .carousel-item {
    height: 500px;
  }
}

/* برای موبایل */
@media (max-width: 768px) {
  .carousel,
  .carousel-item {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .carousel,
  .carousel-item {
    height: 250px;
  }
}

