*{
  list-style-type:none ;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'yekan';
  
}

@font-face {
  font-family: 'yekan';
  src: url(../src/assets/fonts/yekan-regular.ttf);
}

@font-face {
  font-family: 'vaziri';
  src: url(../src/assets/fonts/Vazir-Light.woff);
}
@font-face {
  font-family: 'vaziri2';
  src: url(../src/assets/fonts/Vazir-Thin.woff2);
}
@font-face {
  font-family: 'tahoma';
  src: url(../src/assets/fonts/Tanha-FD.woff2);
}
@font-face {
  font-family: 'lalezar';
  src: url(../src/assets/fonts/Lalezar-Regular.ttf);
}


.active{
  border-bottom: 2px solid black;
}